#startText, #audioPrompt {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    color: #ffffff;
    font-family:'Poppins' , sans-serif;
    font-size: 1.2em;
    z-index: 10;
/*     text-shadow: 2px 2px #000000; */
    display: none; /* initially hide the text */
}

#audioPrompt {
    display: none;
    top: 80%;
}

#audioPrompt button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    height:70%;
    transform: translate(-50%, -50%);
    z-index: 9;
    background: url("../Assets/WheatfieldSM.png") no-repeat center center fixed; 
    background-size: contain;
    opacity: 0.5;
    border: none;
    border-radius: 10px;
    overflow: hidden; 
    display: none; /* initially hide the background */
}

/* New styles for the back button */
#backButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 48px;  
    height: 48px;  
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 11; /* Ensure the button is always on top */
    background: url('https://cdn.glitch.global/f9a8c67e-8881-49f3-8d06-5d2ff7a6db2c/back-icon-wh.png?v=1687362382554') no-repeat center center;
    background-size: contain;
    background-color: transparent;
}


