#startText, #audioPrompt {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    color: #ffffff;
    font-family:'Poppins' , sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    z-index: 10;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
    display: none; /* initially hide the text */
}

#audioPrompt {
    display: none;
    top: 80%;
}
#audioPrompt img {
    vertical-align: middle;
    margin-right: 5px; 
    width: 16px; 
    height: 16px;
}

#audioPrompt button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #EEF0F3;
    color: #1B1B1B;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    cursor: pointer;
    gap: 8px; 
}


#background {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 221px;
    height: 175px;
    transform: translate(-50%, -50%);
    z-index: 9;
    background: url("../Assets/WheatfieldSM.png") no-repeat center center fixed; 
    background-size: contain;
    opacity: 0.7;
    border: none;
    border-radius: 8px;
    overflow: hidden; 
    display: none; /* initially hide the background */
}

/* New styles for the back button */
#backButton {
    position: fixed;
  top: 20px;
    left: 20px;
    width: 93px;  
    height: 44px;  
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 11; /* Ensure the button is always on top */
    background: url("../Assets/Back-button.svg") no-repeat center center;
    background-size: contain;
    background-color: transparent;
}


